@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-datasense-blue-container {
    min-height: 100%;
  }
  .active {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.full');
    padding-top: theme('spacing.2');
    padding-bottom: theme('spacing.2');
    margin-left: theme('spacing.5');
    margin-right: theme('spacing.5');
    align-items: center;
  }

  a.disabled {
    /* color: #ccc; */
    pointer-events: none;
    text-decoration: none;
  }
}